<style>
 @media screen and (max-width:651px) {
      .lgg{
		justify-content:center;
	  }
   }</style>

<footer style="border:thin solid #f1f1f1" class="mt-md-0 mt-0">
	<div class="container pbt-50">
		<div class="row">
			<div class="col-md-3 mt-4 lgg " style="align-items:center">
				<img src="{{ logo }}" alt="" class="logo col-12 p-0" style="max-width:180px">
				<p class="mt-3 col-12 p-0" style="font-size: 11px;">@2024 Upaaye Consulting. All rights reserved.</p>
			</div>
			<div class="col-md-3 col-6 d-flex justify-content-center  mt-4">
				<div class="widget-item text-start mt-2">
					<h6 class="widget-title ">Contact Us</h6>
					<div class="widget-body">
						<ul style="display: inline;" class="info-list">
							<li>
								<div class="row">
									<div class="col-md-12 col-12" style="text-align: start;color:#000;">
										<p>Email</p>
									</div>
									<div class="col-md-12 col-12" style="text-align: start;color:#692BD8;">
										<p>sample@gmail.com			</p>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-12 col-12" style="text-align: start;color:#000;">
										<p>Phone</p>
									</div>
									<div class="col-md-12 col-12" style="text-align: start;color:#692BD8;">
										<p>1234567890	</p>
									</div>
								</div>
							</li>
							
						</ul>
						<br/>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 d-flex justify-content-center mt-4">
				<div class="widget-item text-start">
					<h6 class="widget-title">Quick links</h6>
					<div class="widget-body">
						<ul style="display: inline;" class="info-list">
							<li>
								<a href="index.php?route=common/about">
									Home</a>
							</li>
							<li>
								<a href="index.php?route=common/about">
									About</a>
							</li>
							<li>
								<a href="index.php?route=information/contact">
									Contact Us</a>
							</li>
							<li>
								<a href="index.php?route=information/information&information_id=7">
									Donate</a>
							</li>
							<li>
								<a href="index.php?route=information/information&information_id=7">
									Board members</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 d-flex justify-content-center mt-4">
				<div class="widget-item text-start">
					<h6 class="widget-title">Follow Us</h6>
					<div class="widget-body">
						<ul style="display: flex;" class="info-list">
							<li class="mr-3"><a href><img
                                                    src="image/facebook.png" alt
                                                    width="20"></a></li>
                                        <li class="mr-3"><a href><img
                                                    src="image/instagram.png" alt
                                                    width="20"></a></li>
                                        <li class="mr-3"><a href><img
                                                    src="image/twitter.png" alt
                                                    width="20"></a></li>
                                        <li class="mr-3"><a href><img
                                                    src="image/phone.png" alt
                                                    width="20"></a></li>
													</ul>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-12 d-flex justify-content-center mt-4">
				<div class="widget-item text-center">

					<div class="widget-body">

						<a href="index.php?route=information/contact">
							<button class="btn btn-primary " style="padding: 5px 24px;font-size:12px;">Book An Appointment</button>
						</a>


					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
</footer>{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>{% endfor %}{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>{% endfor %}<!-- Modernizer JS --><script src="assets/js/vendor/modernizr-3.6.0.min.js"></script><!-- Popper JS --><script src="assets/js/vendor/popper.min.js"></script><!-- Bootstrap JS --><script src="assets/js/vendor/bootstrap.min.js"></script><!-- Countdown JS --><script src="assets/js/plugins/countdown.min.js"></script><!-- Nice Select JS --><script src="assets/js/plugins/nice-select.min.js"></script><!-- jquery UI JS --><script src="assets/js/plugins/jqueryui.min.js"></script><!-- Image zoom JS --><script src="assets/js/plugins/image-zoom.min.js"></script><!-- Imagesloaded JS --><script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script><!-- Instagram feed JS --><script src="assets/js/plugins/instagramfeed.min.js"></script><!-- mailchimp active js --><script src="assets/js/plugins/ajaxchimp.js"></script><!-- contact form dynamic js --><script src="assets/js/plugins/ajax-mail.js"></script><!-- google map api --><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfmCVTjRI007pC1Yk2o2d_EhgkjTsFVN8"></script><!-- google map active js --><script src="assets/js/plugins/google-map.js"></script><!-- Main JS --><script src="assets/js/main.js"></script></body></html>
