{{ header }}
<div class="breadcrumb-area hidden-phone">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="breadcrumb-wrap">
               <nav aria-label="breadcrumb">
                  <ul class="breadcrumb">
                     {% for breadcrumb in breadcrumbs %}
                     <li class="ml-2"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                     &nbsp;/
                     {% endfor %}
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="common-success" class="container text-center">
 
  <div class="row">
    <div id="content" class="col-sm-12">{{ content_top }}
      <br /><br /><br />
      <h1>You have been logged out!</h1>
      <br />
     <p>Thank you for visiting our website. You can log in again anytime to access your account.
     <br /> reach us at - sales@solitairejew.com
     </p>
     <br />
      <div class="buttons">
        <div class="text-center">
        <a href="{{ continue }}" class="btn btn-primary">Continue Shopping</a>
        <br /><br /><br /><br /><br />
        </div>
      </div>
     </div>
   </div>
</div>
{{ footer }}