{{ header }}
<div class="breadcrumb-area hidden-phone">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="breadcrumb-wrap">
               <nav aria-label="breadcrumb">
                  <ul class="breadcrumb">
                     {% for breadcrumb in breadcrumbs %}
                     <li class="ml-2"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                     &nbsp;/
                     {% endfor %}
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="error-not-found" class="container">
 
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" style='min-height:600px; ' class="{{ class }} text-center">{{ content_top }}
   <br /> <br />
      <h1>{{ heading_title }}</h1>
      <p>{{ text_error }}</p>
      <div class="buttons clearfix">
        <div class="text-center">
        <br /> <br />
        <a href="{{ continue }}" class="btn btn-primary">Continue Shopping</a>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
