{{ header }}
<style>
   @media only screen and (max-width: 679.98px) {
   .splide__arrow  {
   display: none !important;
   } 
   }
   .splide__arrow  {
   background: none !important;
   } 
   .splide__arrow--prev {
   left: -2em !important;
   }
   .splide__arrow--next {
   right: -2em !important;
   }
   .splide__arrow svg {
   fill:#fccf32 !important;
   height: 2.2em !important;
   width: 2.2em !important;
   }
</style>
<link
   rel="stylesheet" href="assets/css/product.css"/>
<!-- Swiper Slider CSS-->
<script src="
   https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
   "></script>
<link href="
   https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
   " rel="stylesheet">
<div class="breadcrumb-area hidden-phone">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="breadcrumb-wrap">
               <nav aria-label="breadcrumb">
                  <ul class="breadcrumb">
                     {% for breadcrumb in breadcrumbs %}
                     <li class="ml-2">
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                     </li>
                     &nbsp;/
                     {% endfor %}
                  </ul>
               </nav>
            </div>
         </div>
      </div>
   </div>
</div>
<br/>
<div id="product-product mt-10" class="container">
   <div class="row">
      <div class="col-sm-12">
         {{ content_top }}
         <div class="row">
            <div class="col-sm-7">
               {% if thumb or images %}
               <ul style='border:1px solid #ccc; border-radius:16px' class="slider slider-for">
                  {% if thumb %}
                  <li class="zoom"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/></li>
                  {% endif %}
                  {% if images %}
                  {% for image in images %}
                  <li class="image-additional zoom">
                     <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/>
                  </li>
                  {% endfor %}
                  {% endif %}
               </ul>
               {% endif %}
               {% if thumb or images %}
               <ul class="slider slider-nav addi">
                  {% if thumb %}
                  <li><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/></li>
                  {% endif %}
                  {% if images %}
                  {% for image in images %}
                  <li class="image-additional">
                     <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}"/>
                  </li>
                  {% endfor %}
                  {% endif %}
               </ul>
               {% endif %}
            </div>
            <div class="col-sm-5">
               {% if review_status %}
               <div class="rating">
                  <p>
                     {% for i in 1..5 %}
                     {% if rating < i %}
                     <span class="fa fa-stack">
                     <i class="fa fa-star-o fa-stack-1x"></i>
                     </span>
                     {% else %}
                     <span class="fa fa-stack">
                     <i class="fa fa-star fa-stack-1x"></i>
                     <i class="fa fa-star-o fa-stack-1x"></i>
                     </span>
                     {% endif %}
                     {% endfor %}
                  </p>
               </div>
               {% endif %}
               <h2 class="text-capitalize">{{ heading_title }}</h2>
               <p style="line-height:36px; margin-top:10px">
                  Style No :
                  <i>{{ style_no }}</i>
                  <br/>
                  Design No :
                  <i>{{ design_no }}</i>
                  <br/>
                  Gold Purity:
                  <i>{{ metal_purity }}</i>
                  <br />
                  Stone Weight:
                  <i>
                    {% for attribute_group in attribute_groups %}
                      {% if attribute_group.name|trim|lower == "stone details" %}
                        {% for attribute in attribute_group.attribute %}
                          {% if attribute.name|trim|lower == "stone weight" %}
                            {{ attribute.text }}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </i>
                </p>
                
                
               <div id="product">
                  {% if options %}
                  <hr>
                  {% for option in options %}
                  {% if option.type == 'select' %}
                  {% for option_value in option.product_option_value %}
                  <div class="text-center" style="display: inline-block;">
                     <span style="background:url({{ option_value.image }})" data-sign="{{ option_value.price_prefix }}" data-money="{{ option_value.price }}" data-image="{{ option_value.option_image }}" data-val="{{ option_value.product_option_value_id }}" class="tab_options"></span>
                     <p style="margin-top: 0px; font-size:12px">
                        {{option_value.name}}
                     </p>
                  </div>
                  {% endfor %}
                  <div style="display: none;" class="form-group{% if option.required %} required {% endif %}">
                     <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                        <option value="">{{ text_select }}</option>
                        {% for option_value in option.product_option_value %}
                        <option data-sign="{{ option_value.price_prefix }}" data-link="{{ option_value.link }}" value="{{ option_value.product_option_value_id }}">
                           {{ option_value.name }}
                           {% if option_value.price %}
                           ({{ option_value.price_prefix }}{{ option_value.price }})
                           {% endif %}
                        </option>
                        {% endfor %}
                     </select>
                  </div>
                  <br/><br/>
                  {% endif %}
                  {% if option.type == 'radio' %}
                  <div class=" form-group{% if option.required %} required {% endif %}">
                     <label style="float:left" class="control-label float-r">{{ option.name }}</label>
                     {% for option_value in option.product_option_value %}
                     <div class="radio-custom">
                        <label>
                        <input type="radio" class='sizes' name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" data-sign="{{ option_value.price_prefix }}" data-price="{{ option_value.price }}"/>
                        {% if option_value.image %}
                        <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/>
                        {% endif %}
                        <span>
                        {{ option_value.name }}</span>
                        </label>
                     </div>
                     {% endfor %}
                  </div>
                  <br/><br/>
                  {% endif %}
                  {% if option.type == 'checkbox' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label">{{ option.name }}</label>
                     <div id="input-option{{ option.product_option_id }}">
                        {% for option_value in option.product_option_value %}
                        <div class="checkbox">
                           <label>
                           <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}"/>
                           {% if option_value.image %}
                           <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail"/>
                           {% endif %}
                           {{ option_value.name }}
                           {% if option_value.price %}
                           ({{ option_value.price_prefix }}{{ option_value.price }})
                           {% endif %}
                           </label>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
                  {% endif %}
                  {% if option.type == 'text' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                     <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
                  </div>
                  {% endif %}
                  {% if option.type == 'textarea' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                     <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
                  </div>
                  {% endif %}
                  {% if option.type == 'file' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label">{{ option.name }}</label>
                     <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block">
                     <i class="fa fa-upload"></i>
                     {{ button_upload }}</button>
                     <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}"/>
                  </div>
                  {% endif %}
                  {% if option.type == 'date' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                     <div class="input-group date">
                        <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control"/>
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                        <i class="fa fa-calendar"></i>
                        </button>
                        </span>
                     </div>
                  </div>
                  {% endif %}
                  {% if option.type == 'datetime' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                     <div class="input-group datetime">
                        <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                        <i class="fa fa-calendar"></i>
                        </button>
                        </span>
                     </div>
                  </div>
                  {% endif %}
                  {% if option.type == 'time' %}
                  <div class="form-group{% if option.required %} required {% endif %}">
                     <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                     <div class="input-group time">
                        <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                        <i class="fa fa-calendar"></i>
                        </button>
                        </span>
                     </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  {% if recurrings %}
                  <hr>
                  <h3>{{ text_payment_recurring }}</h3>
                  <div class="form-group required">
                     <select name="recurring_id" class="form-control">
                        <option value="">{{ text_select }}</option>
                        {% for recurring in recurrings %}
                        <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                        {% endfor %}
                     </select>
                     <div class="help-block" id="recurring-description"></div>
                  </div>
                  {% endif %}
                  <div class="form-group">
                     <input type="hidden" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control iq"/>
                     <div id="counter-btn" style="padding: 0px; padding-left:10px; margin-top:-12px; max-width:300px" class="row">
                        <div style="cursor: pointer; height: 40px; text-align:center;   border:thin solid #ccc" class="col-sm-2 col-4 minus-icon">
                           <li style=" font-size:12px; margin:auto; line-height:40px; text-align:center" id="less_quantity" class="fa fa-minus"></li>
                        </div>
                        <div style=" padding-left:0px; height: 40px; padding-right:0px;" class="col-sm-3 col-4">
                           <input name="quantity" type="text" style="box-shadow:none; text-align:center; border-radius:0px; width:100%; height: 40px; background-color: transparent; cursor:default" id="input-quantity" value="1" class="form-control iq"/>
                        </div>
                        <div style=" cursor: pointer;  height: 40px; text-align:center; border:thin solid #ccc" class="col-sm-2 col-4 minus-icon">
                           <li style="font-size:12px; height: 50px; line-height:40px; text-align:center" id="add_quantity" class="fa fa-plus"></li>
                        </div>
                     </div>
                     <input type="hidden" name="product_id" value="{{ product_id }}"/>
                     <br/>
                     {% if price %}
                     <ul class="list-unstyled">
                        {% if not special %}
                        <li>
                           <h3 id="p_pr">{{ price }}</h3>
                        </li>
                        {% else %}
                        <li>
                           <span id="og" class="price-old">{{ price }}</span>
                        </li>
                        <li>
                           <h3 id="sp">{{ special }}</h3>
                        </li>
                        <li><h4>(You Save <span id="you_save"></span>)</h4></li>
                        {% endif %}
                        {% if tax %}
                        <li>{{ text_tax }}
                           {{ tax }}
                        </li>
                        {% endif %}
                        {% if points %}
                        <li>{{ text_points }}
                           {{ points }}
                        </li>
                        {% endif %}
                        {% if discounts %}
                        <li>
                           <hr>
                        </li>
                        {% for discount in discounts %}
                        <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                        {% endfor %}
                        {% endif %}
                     </ul>
                     <br>
                     {% endif %}
                     <button type="button" style='float:left' id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
                     <button style='float:left; font-size:22px; margin-top:5px; margin-left:20px;' data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');">
                     <i class="fa fa-heart-o"></i>
                     </button>
                  </div>
                  {% if minimum > 1 %}
                  <div class="alert alert-info">
                     <i class="fa fa-info-circle"></i>
                     {{ text_minimum }}
                  </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row w-100 mt-10">
      <div class="col-sm-10 offset-sm-1">
         <ul class="nav nav-tabs tabs-ul">
            <li>
               <a href="#tab-description" class="active" data-toggle="tab">{{ tab_description }}</a>
            </li>
            {% if attribute_groups %}
            <li style="display: none;">
               <a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a>
            </li>
            {% endif %}
            {% if review_status %}
            <li>
               <a href="#tab-review" data-toggle="tab">{{ tab_review }}</a>
            </li>
            {% endif %}
         </ul>
         <div class="tab-content">
            <div class="tab-pane active" style="padding:0px 20px; font-size:14px;" id="tab-description">{{ description }}</div>
            {% if attribute_groups %}
            <div style="display: none;" class="tab-pane" id="tab-specification">
               <table class="table table-bordered">
                  {% for attribute_group in attribute_groups %}
                  <thead>
                     <tr>
                        <td colspan="2">
                           <strong>{{ attribute_group.name }}</strong>
                        </td>
                     </tr>
                  </thead>
                  <tbody>
                     {% for attribute in attribute_group.attribute %}
                     <tr>
                        <td>{{ attribute.name }}</td>
                        <td>{{ attribute.text }}</td>
                     </tr>
                     {% endfor %}
                  </tbody>
                  {% endfor %}
               </table>
            </div>
            {% endif %}
            {% if review_status %}
            <div class="tab-pane" id="tab-review">
               <form class="form-horizontal" id="form-review">
                  <div id="review"></div>
                  <h2>{{ text_write }}</h2>
                  {% if review_guest %}
                  <div class="form-group required">
                     <div class="col-sm-12">
                        <label class="control-label" for="input-name">{{ entry_name }}</label>
                        <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control"/>
                     </div>
                  </div>
                  <div class="form-group required">
                     <div class="col-sm-12">
                        <label class="control-label" for="input-review">{{ entry_review }}</label>
                        <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                        <div class="help-block">{{ text_note }}</div>
                     </div>
                  </div>
                  <div class="form-group required">
                     <div class="col-sm-12">
                        <label class="control-label">{{ entry_rating }}</label>
                        <span class="star-rating star-5">
                        <input type="radio" id="rating-1" name="rating" value="1"/><i></i>
                        &nbsp;
                        <input type="radio" id="rating-2" name="rating" value="2"/><i></i>
                        &nbsp;
                        <input type="radio" id="rating-3" name="rating" value="3"/><i></i>
                        &nbsp;
                        <input type="radio" id="rating-4" name="rating" value="4"/><i></i>
                        &nbsp;
                        <input type="radio" id="rating-5" name="rating" value="5"/><i></i>
                        &nbsp;
                        </span>
                     </div>
                  </div>
                  {{ captcha }}
                  <div class="buttons clearfix">
                     <div class="pull-right">
                        <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">Submit</button>
                     </div>
                  </div>
                  {% else %}
                  {{ text_login }}
                  {% endif %}
               </form>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
</div>
<br/><br/>
{% if products %}
<section style='background:#003B31;' class=' ptb-30'>
   <div class="container">
      <div class="row v-center">
         <p style="font-size:24px; color:#fff; font-family: 'Hina Mincho' !important;">
            <img src="assets/img/Star.png" style="margin-right:11px; max-width:25px">Related Products
         </p>
         <div style='border-color: rgb(255,255,255,0.5); ' class="new-arrival-underline"></div>
      </div>
      <br/>
      <div class="splide related_splide" aria-label="Splide Basic HTML Example">
         <div class="splide__track">
            <ul class="splide__list text-center" style="    justify-content: center;">
               {% for product in products %}
               <li class="splide__slide">
                  <div class="product-thumb transition text-center">
                     <div class="image">
                        <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" style="width:100%;" class="img-responsive"/></a>
                     </div>
                     <div class="caption text-capitalize">
                        <p class="mt-10 font-16 text-white" style="max-height:47px;    overflow: hidden;">{{ product.name }}</p>
                        {% if product.rating %}
                        <div class="rating d-none">
                           {% for j in 1..5 %}
                           {% if product.rating < j %}
                           <span class="fa fa-stack">
                           <i class="fa fa-star-o fa-stack-1x"></i>
                           </span>
                           {% else %}
                           <span class="fa fa-stack">
                           <i class="fa fa-star fa-stack-1x"></i>
                           <i class="fa fa-star-o fa-stack-1x"></i>
                           </span>
                           {% endif %}
                           {% endfor %}
                        </div>
                        {% endif %}
                        {% if product.price %}
                        <p class="price text-white mt-1">
                           {% if not product.special %}
                           {{ product.price }}
                           {% else %}
                           <span class="price-new text-white">{{ product.special }}</span>
                           <span class="price-old text-white">{{ product.price }}</span>
						 
                           {% endif %}
                           {% if product.tax %}
                           <span class="price-tax">{{ text_tax }}
                           {{ product.tax }}</span>
                           {% endif %}
                        </p>
                        {% endif %}
                     </div>
                  </div>
               </li>
               {% endfor %}
            </ul>
         </div>
      </div>
   </div>
</section>
{% endif %}
<script type="text/javascript">
   var splide = new Splide('.splide', {
   
   perPage: 4,
   spaceBetween: 10,
   gap: 20,
   autoplay: true,
   perMove: 1,
   breakpoints: {
   640: {
   perPage: 3,
   gap: 20
   
   },
   480: {
   perPage: 2,
   gap: 20
   
   }
   }
   });
   
   splide.mount();
   
   
   $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
   $.ajax({
   url: 'index.php?route=product/product/getRecurringDescription',
   type: 'post',
   data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
   dataType: 'json',
   beforeSend: function () {
   $('#recurring-description').html('');
   },
   success: function (json) {
   $('.alert-dismissible, .text-danger').remove();
   
   if (json['success']) {
   $('#recurring-description').html(json['success']);
   }
   }
   });
   });
   
</script>
<script type="text/javascript">
   $('#button-cart').on('click', function () {
   $.ajax({
   url: 'index.php?route=checkout/cart/add',
   type: 'post',
   data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
   dataType: 'json',
   beforeSend: function () {
   $('#button-cart').button('loading');
   },
   complete: function () {
   $('#button-cart').button('reset');
   },
   success: function (json) {
   if (json['error']) {
   
   if (json['error']['option']) {
   for (i in json['error']['option']) {
   var element = $('#input-option' + i.replace('_', '-'));
   alert(json['error']['option'][i]);
   if (element.parent().hasClass('input-group')) {
   element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
   } else {
   element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
   }
   }
   }
   
   if (json['error']['recurring']) {
   $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
   }
   
   // Highlight any found errors
   $('.text-danger').parent().addClass('has-error');
   }
   
   if (json['success']) {
   
   $('.cart-counter-header').html(json['total'][0]);
   
   setTimeout(function () {
   $("#cart-total").html(json['total']);
   let t = json['total'].split('-');
   $('.slide-cart-total').html(t[1]);
   }, 100);
   
   $('.cart-body').load('index.php?route=common/slide_cart/info div.cart-body');
   
   
   $('.cart_backdrop').fadeIn();
   $(".cart").animate({right: '0px'})
   
   }
   },
   error: function (xhr, ajaxOptions, thrownError) {
   alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
   }
   });
   });
   
</script>
<script type="text/javascript">
   $('.date').datetimepicker({language: '{{ datepicker }}', pickTime: false});
   
   $('.datetime').datetimepicker({language: '{{ datepicker }}', pickDate: true, pickTime: true});
   
   $('.time').datetimepicker({language: '{{ datepicker }}', pickDate: false});
   
   $('button[id^=\'button-upload\']').on('click', function () {
   var node = this;
   
   $('#form-upload').remove();
   
   $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
   
   $('#form-upload input[name=\'file\']').trigger('click');
   
   if (typeof timer != 'undefined') {
   clearInterval(timer);
   }
   
   timer = setInterval(function () {
   if ($('#form-upload input[name=\'file\']').val() != '') {
   clearInterval(timer);
   
   $.ajax({
   url: 'index.php?route=tool/upload',
   type: 'post',
   dataType: 'json',
   data: new FormData($('#form-upload')[0]),
   cache: false,
   contentType: false,
   processData: false,
   beforeSend: function () {
   $(node).button('loading');
   },
   complete: function () {
   $(node).button('reset');
   },
   success: function (json) {
   $('.text-danger').remove();
   
   if (json['error']) {
   $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
   }
   
   if (json['success']) {
   alert(json['success']);
   
   $(node).parent().find('input').val(json['code']);
   }
   },
   error: function (xhr, ajaxOptions, thrownError) {
   alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
   }
   });
   }
   }, 500);
   });
</script>
<script type="text/javascript">
   $('#review').delegate('.pagination a', 'click', function (e) {
   e.preventDefault();
   
   $('#review').fadeOut('slow');
   
   $('#review').load(this.href);
   
   $('#review').fadeIn('slow');
   });
   
   $('#review').load('index.php?route=product/product/review&product_id=                          {{ product_id }}');
   
   $('#button-review').on('click', function () {
   $.ajax({
   url: 'index.php?route=product/product/write&product_id=                          {{ product_id }}',
   type: 'post',
   dataType: 'json',
   data: $("#form-review").serialize(),
   beforeSend: function () {
   $('#button-review').button('loading');
   },
   complete: function () {
   $('#button-review').button('reset');
   },
   success: function (json) {
   $('.alert-dismissible').remove();
   
   if (json['error']) {
   $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
   }
   
   if (json['success']) {
   $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
   
   $('input[name=\'name\']').val('');
   $('textarea[name=\'text\']').val('');
   $('input[name=\'rating\']:checked').prop('checked', false);
   }
   }
   });
   });
   
   $(document).ready(function () {
   var old_price = Number($("#p_pr").text().replace(/[`~!@#$%^&*()_|+\-=?;:'",<>\{\}\[\]\\\/]/gi, ''));
   
   
   $('.sizes').change(function () {
   var p = $(this).attr('data-price');
   var sig = $(this).attr('data-sign');
   var q = p.replace(/[`~!@#$%^&*()_|+\-=?;:'",<>\{\}\[\]\\\/]/gi, '');
   var x = Number(q);
   
   if (sig == "+") {
   var new_p = old_price + x;
   } else {
   var new_p = old_price - x;
   }
   
   
   // $("#p_pr").text('$' + new_p);
   
   });
   
   $("#add_quantity").click(function () {
   
   var b = Number($("#input-quantity").val()) + 1;
   
   $(".iq").val(b);
   })
   $("#less_quantity").click(function () {
   var b = Number($("#input-quantity").val()) - 1;
   if (b < 0) {
   b = 0;
   }
   $(".iq").val(b);
   })
   
   var slides_to_show = 3;
   $('.slider-for').slick({
   slidesToShow: 1,
   slidesToScroll: 1,
   arrows: true,
   fade: false,
   infinite: true,
   asNavFor: '.slider-nav',
   nextArrow: '<button style="width: 25px;top: 220px;position: absolute;right: -25px;z-index: 99;" class="btn-round left"><svg viewBox="0 0 100 100"><path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>',
   prevArrow: '<button style="width: 25px;top: 220px;position: absolute;left: -25px;z-index: 99;" class="btn-round right"><svg viewBox="0 0 100 100"><path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow"></path></svg></button>'
   
   });
   $('.slider-nav').slick({
   slidesToShow: slides_to_show,
   
   slidesToScroll: 1,
   asNavFor: '.slider-for',
   dots: false,
   arrows: false,
   
   focusOnSelect: true
   
   });
   
   $('.thumbnails').magnificPopup({
   type: 'image',
   delegate: 'a',
   gallery: {
   enabled: true
   }
   });
   });
   
   
   $(document).ready(function (e) {
   var link = getUrlParameter('a');
   
   $('.zoom').zoom({magnify: '2'});
   if (link) {
   $(".tab_options").each(function () {
   if ($.trim($(this).siblings().html()).toLocaleLowerCase() == link.toLocaleLowerCase()) {
   $(this).css('border', '2px solid #413B98');
   $(this).addClass('current');
   var val = $(this).attr("data-val");
   
   $("select option").each(function (index, element) {
   if ($(this).val() == val) {
   $(this).prop("selected", true);
   }
   
   })
   
   }
   })
   } else {
   if ($(".tab_options").length > 0) {
   
   var val;
   
   $("select option").each(function (index, element) {
   if ($(this).attr("data-link") == "") {
   $(this).prop("selected", true);
   val = $(this).val();
   }
   })
   
   $(".tab_options").each(function () {
   if ($(this).attr("data-val") == val) {
   $(this).css('border', '2px solid #003B30');
   }
   })
   }
   }
   $(".tab_options").click(function () {
   if (!$(this).hasClass('current')) {
   var val = $(this).attr("data-val");
   
   $("select option").each(function (index, element) {
   if ($(this).val() == val) {
   if ($(this).attr("data-link")) {
   $(this).prop("selected", true);
   window.location = $(this).attr("data-link") + '?a=' + $.trim($(this).html());
   
   }
   }
   });
   }
   
   })
   
   });
   
   var getUrlParameter = function getUrlParameter(sParam) {
   var sPageURL = window.location.search.substring(1),
   sURLVariables = sPageURL.split('&'),
   sParameterName,
   i;
   
   for (i = 0; i < sURLVariables.length; i++) {
   sParameterName = sURLVariables[i].split('=');
   
   if (sParameterName[0] === sParam) {
   return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
   }
   }
   };
   
   $(document).ready(function(){
      if($("#you_save").length !=0){
         og = Number($("#og").text().match(/[\d,]+\.?\d*/)[0].replace(/,/g, ''));
         sp = Number($("#sp").text().match(/[\d,]+\.?\d*/)[0].replace(/,/g, ''));
         var xx = og-sp;
         var currency_sp = $("#sp").text().replace(/[0-9,.]/g, '');
         $("#you_save").text(currency_sp+xx);
      }
   })
   
</script>
{{ footer }}
